/* layout.html */

header {
    background-color: rgba(241, 237, 237, 0.87);
    line-height: 60px;
    width: 100%;
}

header h1 {
    font-size: 4vw;
    margin-left: 10vw;
}

/* main.html */
.contents {
    text-align: center;
}

table.score-board {
    width: 60%;
    margin: 0 auto;
}

.player-th {
    width: 10%;
}

.score-th {
    width: 10%;
}

.btn-th {
    width: 20%;
}

.btn-list {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 1px;
}

/* add.html */
.container.add-box {
    margin-left: 10vw;
}

input.name-form {
    width: 40%;
}

/* update.html */
.container.update-box{
    margin-left: 10vw;
}

.container.update-box.form-control{
    width: 40%;
}